body {
  height: 500px;
  width: 500px;
}

h1, p {
  text-align: center;
}

.area {
  width: 150px;
  height: 150px;
  position: relative;
  margin: auto;
}
.outer {
  border-radius: 50%;
  padding: 15px;
  box-shadow: 5px 5px 2px -1px rgba(170, 170, 170, 0.5),
              -5px -5px 2px -1px rgba(236, 236, 236, 0.3);
}
.inner {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: inset 5px 5px 2px -1px rgba(170, 170, 170, 0.5),
              inset -5px -5px 2px -1px rgba(236, 236, 236, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
#rating {
  margin-top: 10px;
  margin-bottom: 10px;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
}
circle {
  fill: none;
  stroke: url(#score-gradient);
  stroke-width: 10px;
  stroke-linecap: round;
  stroke-dasharray: 472;
}
#results {
  padding: 10px;
}

#true {
  background-color: #00B74A;
}
#false {
  background-color: #F93154;
}
#general {
  background-color: #1266F1;
}

.badge {
  float:right;
}